*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    font-family: poppins;
    display: flex;
}

ul,nav{
    list-style:none;
}
a{
    text-decoration:none;
    cursor: pointer;
    color:inherit;
}

header{
    position: absolute;
    top:0px;
    left:0px;
    z-index:10;
    width:100%;
    display: -webkit-flex;
}
nav{
    flex-direction:
}
header nav li{
    margin:0px 15px
}
header nav li:first-child{
    margin-left:0px;
}
header nav li:last-child{
    margin-right:0px;
}
