*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    font-family: poppins;
}

ul,nav{
    list-style:none;
}
a{
    text-decoration:none;
    cursor: pointer;
    color:inherit;
}

header{
    position: absolute;
    top:0px;
    left:0px;
    z-index:10;
    width:100%; 
}
